<p>login works!</p>

<div class="container">
  <img src="./assets/img/Captura.JPG" id="logo" width="100px" />
<mat-card>
    <mat-card-title>Login Administrador</mat-card-title>
<mat-card-content>
<form >
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Usuario" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </p>

  <p  >
    
  </p>

  <div class="button">
    <a routerLink="/admin/listadoCliente">
    <button type="submit" mat-button>Login</button>
  </a>
  </div>

</form>
</mat-card-content>
</mat-card>
</div>