
<div class="limiter">
  <div class="container-login100" style="background-image: url('./assets/img/bg-01.jpg');">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">

<form class="login100-form" autocomplete="off">
  <h1>Agregar servicio</h1>
  <mat-divider></mat-divider>
  <br>


  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Nombre de servicio</span>
    <input class="input100" type="text" name="nombreServicio" placeholder="Nombre" [(ngModel)]="servicioAdd.nombre">
    <span class="focus-input100"></span>
  </div>

  <div class="wrap-input100 m-b-23">
    <span class="label-input100">Descripción</span>
    <textarea class="input100" type="text" name="descripcionServicio" placeholder="Ingrese la descripción.."
      [(ngModel)]="servicioAdd.descripcion"></textarea>
    <span class="focus-input100"></span>
  </div>

  

  <div  appearance="fill">
    <span class="label-input100">Precio de servicio</span>
    
    <input class="input100"
           type="number" 
           name="servicioPrecio" 
           [(ngModel)]="servicioAdd.precio" >
       <span matPrefix>$&nbsp;</span>
    
</div>

  <button mat-raised-button color="primary" (click)="guardarServicio()">Agregar</button>
</form>
</div>
</div>
</div>