
<mat-card>

<div class="formularioAgregar" >   
<form    autocomplete="off">
  <h1>Agregar servicio</h1>
  <mat-divider></mat-divider>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Nombre de servicio</mat-label>
    <input class="input100" type="text" name="nombreServicio" placeholder="Nombre" [(ngModel)]="servicio.nombre"
      matInput>
    <span class="focus-input100"></span>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea matInput type="text" name="descripcionServicio" placeholder="Ingrese la descripción.."
      [(ngModel)]="servicio.descripcion"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Precio de servicio</mat-label>

    <input  min="0"  matInput class="example-right-align" type="number" name="servicioPrecio" placeholder="0"
      [(ngModel)]="servicio.precio ">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <div>
    <button mat-raised-button color="primary" (click)="guardarServicio()">Guardar</button>
  </div>
</form>
</div>

</mat-card>