<div  fxLayout="row wrap"
      fxLayoutAlign="center"
      fxLayoutGap="20px">

    <div class="cardContainer" 
         fxFlex="20"
         fxFlex.sm="30"
         fxFlex.lg="30"
         >
<mat-card>
    <mat-card-header>
        <mat-card-title>Conoce lo que obtendrás por contratar nuestro servicio</mat-card-title>
        <mat-card-subtitle>Servicio de cubicacion</mat-card-subtitle>
    </mat-card-header>
    
    <mat-dialog-content>
        <h3>Detalles del servicio</h3>
        <p>
            Una vez aceptado el pago tienes:
            <br>
            - Acceso a la aplicación movil
            <br>
            - Acceso al cubicador de cementos y superficies
            <br>
            - Una basta alternativas de materiales a tu diposicion
            <br>
            - Exportar a PDF tus cotizaciones
            <br>
            - Este es un texto de ejemplo
            <br>
            <strong>Precio: </strong> $ 12.000
        </p>
    </mat-dialog-content>

    <mat-card-actions fxLayoutAlign="center">
        <button mat-button
                routerLink="/cliente/registrar">
            ir al registro
        </button>
    </mat-card-actions>

</mat-card>
    </div>
</div>