<mat-drawer-container fullscreen>
    <mat-sidenav #sidenav>

        <mat-toolbar>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            
            <span>Panel de herramientas</span>
        </mat-toolbar>

        <mat-nav-list>

            <a routerLink="./listadoCliente" mat-list-item>
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listar clientes</span>
            </a>

            <a routerLink="buscarCliente" mat-list-item>
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar Cliente</span>
            </a>

            <a routerLink="./agregarServicio" mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Agregar Servicio</span>
            </a>

            <a routerLink="editar/:id" mat-list-item>
                <mat-icon mat-list-icon>edit</mat-icon>
                <span>Editar Servicio</span>
            </a>


            <div class="footerDash">
                <mat-divider></mat-divider>
                <span> Cubica2®  </span>
            <br>
                <span> Tecnologia para la construcción  </span>
            <br>
                <a> www.cubica2.cl</a>
            </div>
        </mat-nav-list>

    </mat-sidenav>


    <mat-toolbar>
        <img src="./assets/img/Captura.JPG" id="logo" width="100px" />
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 id="spanTitulo">Panel de Administrador</h1>

        <span class="spacer" ></span>
        
        <pre> Bienvenido:{{usuario.email}}  </pre>
        
        <a class="notificacion" mat-list-item >
            <mat-icon mat-list-icon>notifications</mat-icon>
        </a>
       
        <div class="button">
            
            <button mat-raised-button (click)="logout()">Logout</button>
  
          </div>
    </mat-toolbar>

    <div class="conatiner">
        <router-outlet></router-outlet>
    </div>

</mat-drawer-container>
