.mat-toolbar {
    background: #ffad33;
    color: rgba(0,0,0,.87);
}
.container{
    padding: 10px;
   }

   #logo {
    align-items: left;
    vertical-align: middle;
    width: 6%;
}
#spanTitulo{
    align-items: center;
      }