table{
    width: -webkit-fill-available;
    background: lemonchiffon;
  }
mat-paginator{
  background: rgb(255, 241, 114);
  width: -webkit-fill-available;
}
  .mat-form-field {
    margin-right: 12px;
  }

.cont1{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
  text-align: center;
}

mat-paginator{
  
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contPrincipal{
  margin-left: 40px;
  margin-right: 40px;
  
}

